{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card m-1 shadow">
            <div class="card-header">
                {{ object.mark }}
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">model: {{ object.model }}</li>
                <li class="list-group-item">year: {{ object.year }}</li>
                <li class="list-group-item">owner:
                    <a href="{% url 'bikes:client_detail' object.owner.id %}">{{ object.owner }}</a>
                </li>
                <li class="list-group-item">description: <p>
                    {{ object.description }}
                </p></li>
            </ul>
        </div>
    </div>
{% endblock %}