{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card m-1 shadow">
            <div class="card-header">
                {{ client.name }}
                <a href="{% url 'bikes:update_client' client.id %}">
                    <button class="btn btn-info">edit</button>
                </a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">email: {{ client.email }}</li>
                <li class="list-group-item">phone: {{ client.phone }}</li>
                <li class="list-group-item">description: <p>
                    {{ client.description }}
                </p></li>
            </ul>
        </div>
        <div class="row">
            <p>bikes:</p>
            <a href="{% url 'bikes:add_bike' client.id %}">
                <button class="btn btn-warning">
                    add bike
                </button>
            </a>
            {% for bike in bikes %}
                <div class="col col-3">
                    <div class="card m-1 shadow">
                        <div class="card-header">
                            <a href="{% url 'bikes:bike_detail' bike.id %}">{{ bike.mark }}</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ bike.model }}</li>
                            <li class="list-group-item">{{ bike.year }}</li>
                        </ul>
                    </div>
                </div>
            {% empty %}
            {% endfor %}
        </div>
        <div class="row">
            <p>services:</p>
            {% for service in services %}
                <div class="col col-3">
                    <div class="card m-1 shadow">
                        <div class="card-header">
                            <a href="{% url 'bikes:service_detail' service.id %}">{{ service.bike }}</a>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ service.start }}-{{ service.end }}</li>
                            <li class="list-group-item">{{ service.price }}</li>
                        </ul>
                    </div>
                </div>
            {% empty %}
            {% endfor %}

        </div>

    </div>
{% endblock %}




