{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card m-1 shadow">
            <div class="card-header">
                <a href="{% url 'bikes:bike_detail' object.bike.id %}">{{ object.bike }}</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">client:
                    <a href="{% url 'bikes:client_detail' object.client.id %}">{{ object.client }}</a>
                </li>
                <li class="list-group-item">dates: {{ object.start }} - {{ object.end }}</li>
                <li class="list-group-item">price: {{ object.price }}</li>
                <li class="list-group-item">description: <p>
                    {{ object.description }}
                </p></li>
                <li class="list-group-item">
                    <a href="{% url 'bikes:update_service' object.id %}">
                        <button class="btn btn-info">edit</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}