<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>biker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    .app {
        min-height: 100vh;
        background-color: cornsilk;
    }

</style>
<body>
<div class="app h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href={% url 'bikes:start' %}>Biker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={% url 'bikes:clients' %}>clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={% url 'bikes:bikes' %}>bikes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href={% url 'bikes:services' %}>services</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link">Login: {{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href={% url 'users:logout' %}>Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">Business: {{ user.employee_of.business }}</a>
                            {#                            <a class="nav-link active" href={% url 'users:logout' %}>Logout</a>#}
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link active" href={% url 'users:login' %}>Login</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link active" href={% url 'admin:login' %}>Admin</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <div class="fixed-bottom">
        <p>
            copyright 2021 slawekj
        </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>